
@{
    ViewBag.Title = "Eventsct";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="site-section">
    <div class="container" id="ctDichvu">

    </div>
</div>

<script>
    var idDichvu = sessionStorage.getItem('key1');
    alert(idDichvu);

    $.ajax({
        url: 'https://localhost:44370/api/v1/hotelServices/' + idDichvu,
        method: 'GET',
        contentType: 'json',
        dataType: 'json',
        error: function (res) {

        },
        success: function (res) {
            $("#ctDichvu").empty();
            const len = res.length;
            console.log(res);
            let table = '';

            table += `
        <div class="row align-items-center">
                <div class="col-md-6 mb-5 mb-md-0">

                    <div class="img-border">
                        <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                            <span class="icon-wrap">
                                <span class="icon icon-play"></span>
                            </span>
                            <img src="/Styles/images/`+ res.Anh + `" alt="" class="img-fluid">
                        </a>
                    </div>
                    <img src="/Styles/images/`+ res.Anh + `" alt="Image" class="img-fluid image-absolute">

                </div>
                <div class="col-md-5 ml-auto">
                    <div class="section-heading text-left">
                        <h2 class="mb-5">Thông tin</h2>
                    </div>
                    <table style="width:100%;">
                        <tr>
                            <th>Dịch vụ:</th>
                            <td>`+ res.Ten + `</td>
                        </tr>
                        <tr>
                            <th>Loại phòng:</th>
                            <td>`+ res.Loai + `</td>
                        </tr>
                       
                        <tr>
                            <th>Giá phòng:</th>
                            <td>`+ res.Gia + ` VNĐ</td>
                        </tr>

                        <tr>
                            <th>Số Lượng</th>
                            <td> <input type="number" id="sl" name="fromDate" value = "1" ></td>
                        </tr>
                        
                    </table>

                    <br>
                    <p class="mb-4">Khách sạn Hoàng Hôn luôn mang vẻ đẹp hiện đại xen lẫn nét cổ kính. Đặt khách sạn sớm nhất để hưởng trọn ưu đãi, hứa hẹn một kì nghỉ với những ...</p>
                    <p>
                        <a href="https://vimeo.com/28959265" class="btn btn-primary pill px-4  popup-vimeo text-uppercase btn btn-XemVideo">Xem Video <span class="icon-arrow-right small"></span></a>
                        <button  class="btn btn-primary pill text-white px-4 btn-DatPhong" id="btn-DatPhong" onclick="addbtn();">Thêm</button>
                    </p>

                </div>
            </div>
            `;

            document.getElementById('ctDichvu').innerHTML = table;
        },
        fail: function (response) { }

    });
    </script>

<script>
    function addbtn() {
        var sl = $('#sl').val();
        var iddichvu = sessionStorage.getItem('key1');
        $.ajax({
            url: 'https://localhost:44370/api/v1/hotelServices/' + iddichvu,
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (res) {

            },
            success: function (res) {
                var id = "id" + Math.random().toString(16).slice(2);
                var oneroom = {
                    id: id,
                    name: res.Ten,
                    price: res.Gia,
                    ing: res.Anh,
                    date: sl,
                    type:"0"
                }
                localStorage.setItem(id.toString(), JSON.stringify(oneroom));


            },
            fail: function (response) { }

        });
    }
</script>

