@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<div class="site-section bg-light">
    <div class="py-1">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">Our services</h2>
            </div>
        </div>
        <div class="row">
            <!-- lọc dịch vụ -->
            <div class="col-2 filter-room">
                <div class="filter-room_container">
                    <div class="filter-room_header">
                        <div class="filter-room_header_item">
                            <h4>Bộ lọc</h4>
                        </div>
                        <div class="filter-room_header_item" style="flex: 1;">
                            <a href="@Url.Action("Events", "Events")" id="clear_filter-room">Xóa tất cả lọc</a>
                        </div>
                    </div>
                    <div class="filter-room_body">
                        <div class="filter-room_body-item">
                            <h6>Loại dịch vụ</h6>
                            <table class="table table-hover">
                                <tr>
                                    <td>
                                        <input type="radio" onclick="handleClick(this);" value="Sức khỏe" name="LoaiDV" id="DVDoUong">
                                    </td>
                                    <td><label for="DVDoUong">Sức khỏe</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" onclick="handleClick(this);" value="Giải trí" name="LoaiDV" id="DVDoAn">
                                    </td>
                                    <td><label for="DVDoAn">Giải trí</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" onclick="handleClick(this);" value="Thể thao" name="LoaiDV" id="DVGiaLa">
                                    </td>
                                    <td><label for="DVGiaLa">Thể thao</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" onclick="handleClick(this);" value="Vệ sinh" name="LoaiDV" id="DVMassage">
                                    </td>
                                    <td><label for="DVMassage">Vệ sinh</label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="filter-room_body-item">
                            <h6>Giá Dịch vụ</h6>
                            <table class="table table-hover" style="width: 100%;">
                                <tr>
                                    <td>
                                        <input value="1" onclick="handleClickGia(this);" type="radio" name="GiaDV" id="GiaDV1">
                                    </td>
                                    <td><label for="GiaDV1">dưới 50.000 VNĐ</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input value="2" onclick="handleClickGia(this);" type="radio" name="GiaDV" id="GiaDV2">
                                    </td>
                                    <td><label for="GiaDV2">50.000 đến 100.000VND</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input value="3" onclick="handleClickGia(this);" type="radio" name="GiaDV" id="GiaDV3">
                                    </td>
                                    <td><label for="GiaDV3">100.000 đến 200.000VND</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input value="4" onclick="handleClickGia(this);" type="radio" name="GiaDV" id="GiaDV4">
                                    </td>
                                    <td><label for="GiaDV4">trên 200.000 VNĐ</label></td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Danh sách dịch vụ -->
            <div class="col-10 list-room">
                <div class="container">

                    <div class="row" id="listDichVu">                     


                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: 'https://localhost:44370/api/v1/hotelServices/all',
        method: 'GET',
        contentType: 'json',
        dataType: 'json',
        error: function (res) {

        },
        success: function (res) {
            $("#listDichVu").empty();
            const len = res.length;
            let table = '';
            for (var i = 0; i < len; ++i) {
                table += `
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/Styles/images/`+res[i].Anh+`" alt="Image" class="img-fluid img-service"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">`+res[i].Ten+`</a></h3>
                                <strong class="price">`+ res[i].Gia +` VNĐ</strong>

                                <p onclick="clickDv('`+ res[i].ID_DichVu +`')"><a   href= "@Url.Action("Eventsct", "Events")" class="btn btn-primary pill text-white px-4">Buy Now</a></p>

                            </div>
                        </div>
                    </div>
                    `;
            }
            document.getElementById('listDichVu').innerHTML = table;
        },
        fail: function (response) { }

    });
    function clickDv(idDichvu) {
        sessionStorage.setItem('key1', idDichvu);
    }

    function handleClick(myRadio) {
        $.ajax({
            url: 'https://localhost:44370/api/v1/hotelServices/byType?type=' + myRadio.value,
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (res) {

            },
         success: function (res) {
             $("#listDichVu").empty();
                const len = res.length;
                let table = '';
                for (var i = 0; i < len; ++i) {
                    table += `
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/Styles/images/`+res[i].Anh+`" alt="Image" class="img-fluid img-service"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">`+res[i].Ten+`</a></h3>
                                <strong class="price">`+ res[i].Gia +` VNĐ</strong>

                                <p onclick="clickDv('`+ res[i].ID_DichVu +`')"><a   href= "@Url.Action("Eventsct", "Events")" class="btn btn-primary pill text-white px-4">Buy Now</a></p>
                            </div>
                        </div>
                    </div>
                    `;
                }
             document.getElementById('listDichVu').innerHTML = table;
            },
            fail: function (response) { }

     });
    }

    function handleClickGia(myRadio) {

        var fromGia = 0, toGia = 0;
        switch (myRadio.value) {
            case "1":
                fromGia = 0;
                toGia = 50000;
                break;
            case "2":
                fromGia = 50001;
                toGia = 100000;
                break;
            case "3":
                fromGia = 100001;
                toGia = 200000;
                break;
            case "4":
                fromGia = 200001;
                toGia = 1000000000;
                break;
        }

        $.ajax({
            url: 'https://localhost:44370/api/v1/hotelServices/byPrice?from=' + fromGia + '&to=' + toGia,
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (res) {

            },
         success: function (res) {
             $("#listDichVu").empty();
                const len = res.length;
                let table = '';
                for (var i = 0; i < len; ++i) {
                    table += `
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/Styles/images/`+res[i].Anh+`" alt="Image" class="img-fluid img-service"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">`+res[i].Ten+`</a></h3>
                                <strong class="price">`+ res[i].Gia +` VNĐ</strong>

                                <p onclick="clickDv('`+ res[i].ID_DichVu +`')"><a   href= "@Url.Action("Eventsct", "Events")" class="btn btn-primary pill text-white px-4">Buy Now</a></p>
                            </div>
                        </div>
                    </div>
                    `;
                }
             document.getElementById('listDichVu').innerHTML = table;
            },
            fail: function (response) { }

     });
    }

</script>

