
@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="site-section site-section-sm">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8 mb-5">
                <form action="#" class="p-5 bg-white">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="message">Message</label>
                            <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Say hello to us"></textarea>
                        </div>
                    </div>
                </form>
                <div class="row form-group">
                    <div class="col-md-12">
                        <button style="float:right; margin-right:40px;" class="btn btn-primary pill px-4 py-2" onclick="addFeedback()">Send Message</button>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">Contact Info</h3>
                    <p class="mb-0 font-weight-bold">Address</p>
                    <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

                    <p class="mb-0 font-weight-bold">Phone</p>
                    <p class="mb-4"><a href="#">0981563371</a></p>

                    <p class="mb-0 font-weight-bold">Email Address</p>
                    <p class="mb-0"><a href="#">thuybro15@gmail.com</a></p>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function addFeedback() {

        if ($('#message').val()) {
            var headers = "Bearer " + localStorage.getItem("token");

            $.ajax({
                url: 'https://localhost:44370/api/v1/feedback/add',
                headers: {
                    "Authorization": headers
                },
                type: 'POST',
                data: {
                    "NoiDung": $('#message').val()
                },
                error: function (err) {
                    console.log('Error!', err)
                },
                success: function (data) {
                    alert("Cảm ơn ý kiến đóng góp của quý khách!!");
                    window.location = "https://localhost:44370/Home/Home";
                }
            });
        }
        else {
            alert("Vui lòng thêm ý kiến đóng góp!!");
        }
        
    }
</script>