
@{
    ViewBag.Title = "EdipRoom";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">List Room</h2>
            <br />
            <button type="button" class="btn btn-info ">Thêm mới</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
                <a href="#" class="d-block mb-0 thumbnail"><img src="~/Styles/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                <div class="hotel-room-body">
                    <h3 class="heading mb-0"><a href="#">Standard Room</a></h3>
                    <strong class="price">$350.00 / per night</strong>
                    <br />
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-warning">Sửa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
                <a href="#" class="d-block mb-0 thumbnail"><img src="~/Styles/images/img_2.jpg" alt="Image" class="img-fluid"></a>
                <div class="hotel-room-body">
                    <h3 class="heading mb-0"><a href="#">Family Room</a></h3>
                    <strong class="price">$400.00 / per night</strong>
                    <br />
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-warning">Sửa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
                <a href="#" class="d-block mb-0 thumbnail"><img src="~/Styles/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                <div class="hotel-room-body">
                    <h3 class="heading mb-0"><a href="#">Single Room</a></h3>
                    <strong class="price">$255.00 / per night</strong>
                    <br />
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-warning">Sửa</button>
                    </div>
                </div>
            </div>
        </div>




        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <div class="site-block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


