
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>Danh ách đặt</h2>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sản Phầm</th>
                    <th scope="col">Đơn Giá</th>
                    <th scope="col">Số Tiền</th>
                    <th scope="col">Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <th scope="row">
                        <img src="https://i.pinimg.com/originals/13/32/ba/1332bae0e95e89393820f97f4a889535.jpg"
                             width="50dp" height="40dp" alt=""> phong 1
                    </th>
                    <td>30$</td>
                    <td>30$</td>
                    <td><button type="button" class="btn btn-outline-danger">Hủy</button></td>
                </tr>
                <tr>
                    <th scope="row">
                        <img src="https://i.pinimg.com/originals/13/32/ba/1332bae0e95e89393820f97f4a889535.jpg"
                             width="50dp" height="40dp" alt=""> phong 1
                    </th>
                    <td>30$</td>
                    <td>30$</td>
                    <td><button type="button" class="btn btn-outline-danger">Hủy</button></td>
                </tr>
                <tr>
                    <th scope="row">
                        <img src="https://i.pinimg.com/originals/13/32/ba/1332bae0e95e89393820f97f4a889535.jpg"
                             width="50dp" height="40dp" alt=""> phong 1
                    </th>
                    <td>30$</td>
                    <td>30$</td>
                    <td><button type="button" class="btn btn-outline-danger">Hủy</button></td>
                </tr>
             
              
            
            </tbody>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">3000$</th>
                    <th scope="col"> <button type="button" class="btn btn-outline-danger">Đặt</button></td>
                </tr>
            </thead>
        </table>


    </div>

</div>

