
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="container">

    <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>Danh sách đặt</h2>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sản Phầm</th>
                    <th scope="col">Đơn Giá</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Số Tiền</th>
                    <th scope="col">Thao Tác</th>
                </tr>
            </thead>
            <tbody id="allHistory">               


            </tbody>
            <thead id="tinhTien">
                
            </thead>
        </table>



    </div>

</div>
<script>

    var userName = parseJwt(localStorage.getItem("token")).unique_name;

    var listDv = [], listPhong = [];

    var values = [],
        keys = Object.keys(localStorage),
        i = keys.length;
    let table = '';

    var TongTien = 0;

    while (i--) {
        if (keys[i] == "token") {
            continue;
        }
        var obj = JSON.parse(localStorage.getItem(keys[i]));

        if (obj.username != userName) {
            continue;
        }
        var tt = parseFloat(obj.date + 1) * parseFloat(obj.price);
        TongTien += tt;

        table += `
        <tr>
                    <th scope="row">
                        <img src="/Styles/images/`+ obj.ing + `"
                             width="50dp" height="40dp" alt=""> `+ obj.name + `
                    </th>
                    <td>`+ obj.price + `</td>
                    <td>`+ parseFloat(parseFloat(obj.date) + parseFloat(obj.type)) + `</td>
                    <td>`+ tt + `</td>
                    <td><button type="button" class="btn btn-outline-danger" onclick="huybtn('`+ obj.id + `')">Hủy</button></td>
                </tr>
            `;
        
        if (obj.type == 1) {
            listPhong.push({
                "ID_Phong": obj.idSP,
                "NgayDen": obj.NgayDen,
                "NgayDi": obj.NgayDi
            });
        }
        else {
            listDv.push(obj.idSP);
        }
    }
    


    document.getElementById('allHistory').innerHTML = table;

    document.getElementById('tinhTien').innerHTML = `<tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">`+TongTien+` VND</th>
                    <th scope="col"> <button type="button" class="btn btn-outline-danger" onclick = "ThanhToan()">Đặt</button></td>
                </tr>`;


    function parseJwt(token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    };

    function ThanhToan() {
        if (TongTien != 0) {

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;


            var hoadon = {
                "NgayThu": today,
                "ID_DichVus": listDv,
                "hoaDonPhongs": listPhong
            };
            var token = localStorage.getItem("token");
            var headers = "Bearer " + token;

            $.ajax({
                url: 'https://localhost:44370/api/v1/receipt/create',
                headers: {
                    "Authorization": headers
                },
                method: 'POST',
                data: hoadon,
                error: function (res) {

                },
                
                success: function (res) {
                    var id = ["hoadon." + Math.random().toString(16).slice(2)];
                    alert("Thêm thành công hóa đơn thành công !!!");
                    var values = [],
                        keys = Object.keys(localStorage),
                        i = keys.length;

                    while (i--) {
                        if (keys[i] == "token") {
                            continue;
                        }

                        if (keys[i].split('.')[0] != "hoadon") {
                            var obj = JSON.parse(localStorage.getItem(keys[i]));

                            if (obj.username == userName) {
                                localStorage.removeItem(keys[i]);
                            }
                           
                        }
                        localStorage.setItem(id, JSON.stringify(listPhong));
                        
                        
                    }

                    //localStorage.clear();
                    
                    //localStorage.setItem("token", token);
                    window.location = "https://localhost:44370/Home/Home";
                },
                fail: function (response) { }

            });


        }


       
    }

</script>
<script>
    function huybtn(key){
        if (confirm('bạn có muốn hủy không?')) {
            localStorage.removeItem(key);
            console.log('Hủy thành công');
            location.reload();
        } else {
            
        }
    }
</script>
