
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="container">

    <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2>Danh sách đặt</h2>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sản Phầm</th>
                    <th scope="col">Đơn Giá</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Số Tiền</th>
                    <th scope="col">Thao Tác</th>
                </tr>
            </thead>
            <tbody id="allHistory">               


            </tbody>
            <thead id="tinhTien">
                
            </thead>
        </table>



    </div>

</div>
<script>

    var userName = parseJwt(localStorage.getItem("token")).unique_name;

    console.log(userName);

    var values = [],
        keys = Object.keys(localStorage),
        i = keys.length;
    let table = '';

    var TongTien = 0;

    while (i--) {
        if (keys[i] == "token") {
            continue;
        }
        var obj = JSON.parse(localStorage.getItem(keys[i]));

        if (obj.username != userName) {
            continue;
        }
        var tt = parseFloat(obj.date + 1) * parseFloat(obj.price);
        TongTien += tt;

        table += `
        <tr>
                    <th scope="row">
                        <img src="/Styles/images/`+ obj.ing + `"
                             width="50dp" height="40dp" alt=""> `+ obj.name + `
                    </th>
                    <td>`+ obj.price + `</td>
                    <td>`+ parseFloat(parseFloat(obj.date) + parseFloat(obj.type)) + `</td>
                    <td>`+ tt + `</td>
                    <td><button type="button" class="btn btn-outline-danger" onclick="huybtn('`+ obj.id + `')">Hủy</button></td>
                </tr>
            `;

    }

    console.log(TongTien);

    document.getElementById('allHistory').innerHTML = table;

    document.getElementById('tinhTien').innerHTML = `<tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">`+TongTien+` VND</th>
                    <th scope="col"> <button type="button" class="btn btn-outline-danger" onclick = "ThanhToan()">Đặt</button></td>
                </tr>`;


    function parseJwt(token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    };

</script>
<script>
    function huybtn(key){
        if (confirm('bạn có muốn hủy không?')) {
            localStorage.removeItem(key);
            console.log('Hủy thành công');
            location.reload();
        } else {
            
        }
    }
</script>
