
@{
    ViewBag.Title = "ListRooms";
    Layout = "~/Views/Shared/_LayoutHomes.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="site-section bg-light">
    <div class="py-1">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">Our Rooms</h2>
            </div>
        </div>
        <div class="row">
            <!-- lọc phòng -->
            <div class="col-2 filter-room">
                <div class="filter-room_container">
                    <div class="filter-room_header">
                        <div class="filter-room_header_item">
                            <h4>Bộ lọc</h4>
                        </div>
                        <div class="filter-room_header_item" style="flex: 1;">
                            <a href="#" id="clear_filter-room">Xóa tất cả lọc</a>
                        </div>
                    </div>
                    <div class="filter-room_body">
                        <div class="filter-room_body-item">
                            <h6>Loại phòng</h6>
                            <table class="table table-hover">
                                <tr>
                                    <td>
                                        <input type="radio" name="LoaiPhong" id="LoaiPhongVIP">
                                    </td>
                                    <td><label for="LoaiPhongVIP">VIP</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" name="LoaiPhong" id="LoaiPhongThuong">
                                    </td>
                                    <td><label for="LoaiPhongThuong">Thường</label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="filter-room_body-item">
                            <h6>Giá phòng</h6>
                            <table class="table table-hover" style="width: 100%;">
                                <tr>
                                    <td>
                                        <input type="radio" name="GiaPhong" id="GiaPhong1">
                                    </td>
                                    <td><label for="GiaPhong1">dưới 200.000 VNĐ</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" name="GiaPhong" id="GiaPhong2">
                                    </td>
                                    <td><label for="GiaPhong2">200.000 đến 600.000VND</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="GiaPhong" id="GiaPhong3">
                                    </td>
                                    <td><label for="GiaPhong3">trên 600.000 VNĐ</label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="filter-room_body-item">
                            <h6>Số Giường</h6>
                            <table class="table table-hover">
                                <tr>
                                    <td>
                                        <input type="radio" name="SoGiuong" id="SoGiuong1">
                                    </td>
                                    <td><label for="SoGiuong1">1 giường đơn</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" name="SoGiuong" id="SoGiuong2">
                                    </td>
                                    <td><label for="SoGiuong2">2 giường đơn</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" name="SoGiuong" id="SoGiuong3">
                                    </td>
                                    <td><label for="SoGiuong3">1 giường đôi</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" name="SoGiuong" id="SoGiuong4">
                                    </td>
                                    <td><label for="SoGiuong4">2 giường đôi</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Danh sách phòng -->
            <div class="col-10 list-room">
                <div class="container">
                    <div class="row" id="listRoom">
<<<<<<< HEAD
                       


=======
                        
>>>>>>> ea51ab9e6a400a6792d913250e4bec752c0c9973
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
     $.ajax({
         url: 'https://localhost:44370/api/v1/room/all',
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (res) {

            },
         success: function (res) {
             $("#listRoom").empty();
                const len = res.length;
                console.log(res);
                let table = '';
                for (var i = 0; i < len; ++i) {
                    table += `
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center" onclick = "clickRoom('`+res[i].ID_Phong+`');">
                            <a href="@Url.Action("RoomDetail","Rooms")" class="d-block mb-0 thumbnail"><img src="/Styles/images/`+ res[i].Anh + `" alt="Image" class="img-fluid"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="@Url.Action("RoomDetail","Rooms")">`+ res[i].TenPhong + `</a></h3>
                                <strong class="price">`+ res[i].LoaiPhongs[0].Gia + ` VNĐ/ per night</strong>
                            </div>
                        </div>
                    </div>
                    `;
                }
             document.getElementById('listRoom').innerHTML = table;
            },
            fail: function (response) { }

     });

    function clickRoom(idRoom) {
        console.log("aaa" + idRoom);
        sessionStorage.setItem('key', idRoom);
    }
</script>